@font-face {
    font-family: 'MontserratExtraBold';
    src: url('..//fonts/Montserrat/Montserrat-ExtraBold.eot');
    src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
        url('..//fonts/Montserrat/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('..//fonts/Montserrat/Montserrat-ExtraBold.woff') format('woff'),
        url('..//fonts/Montserrat/Montserrat-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Bold';
    src: url('..//fonts/Gilroy/Gilroy-Bold/Gilroy-Bold.eot');
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
        url('..//fonts/Gilroy/Gilroy-Bold/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('..//fonts/Gilroy/Gilroy-Bold/Gilroy-Bold.woff') format('woff'),
        url('..//fonts/Gilroy/Gilroy-Bold/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Heavy';
    src: url('..//fonts/Gilroy/Gilroy-Heavy/Gilroy-Heavy.eot');
    src: local('Gilroy Bold'), local('Gilroy-Heavy'),
        url('..//fonts/Gilroy/Gilroy-Heavy/Gilroy-Heavy.eot?#iefix') format('embedded-opentype'),
        url('..//fonts/Gilroy/Gilroy-Heavy/Gilroy-Heavy.woff') format('woff'),
        url('..//fonts/Gilroy/Gilroy-Heavy/Gilroy-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url('..//fonts/Gilroy/Gilroy-Medium/Gilroy-Medium.eot');
    src: local('Gilroy Bold'), local('Gilroy-Medium'),
        url('..//fonts/Gilroy/Gilroy-Medium/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('..//fonts/Gilroy/Gilroy-Medium/Gilroy-Medium.woff') format('woff'),
        url('..//fonts/Gilroy/Gilroy-Medium/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Regular';
    src: url('..//fonts/Gilroy/Gilroy-Regular/Gilroy-Regular.eot');
    src: local('Gilroy Bold'), local('Gilroy-Regular'),
        url('..//fonts/Gilroy/Gilroy-Regular/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('..//fonts/Gilroy/Gilroy-Regular/Gilroy-Regular.woff') format('woff'),
        url('..//fonts/Gilroy/Gilroy-Regular/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-SemiBold';
    src: url('..//fonts/Gilroy/Gilroy-SemiBold/Gilroy-SemiBold.eot');
    src: local('Gilroy Bold'), local('Gilroy-SemiBold'),
        url('..//fonts/Gilroy/Gilroy-SemiBold/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('..//fonts/Gilroy/Gilroy-SemiBold/Gilroy-SemiBold.woff') format('woff'),
        url('..//fonts/Gilroy/Gilroy-SemiBold/Gilroy-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}